/*=== MEDIA QUERY ===*/
@import url("https://fonts.googleapis.com/css?family=Anaheim|Quattrocento+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600");

html {
  background-color: #353b43;
  color: #737f8a;

}

body {
  background-color: #353b43;
  font-family: "Anaheim", sans-serif;
  color: #737f8a;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.mapadiv{
    width: 50%;
    margin: auto;
     
}

.cls-1 {
    fill: #0d2c58;
}

.estadoscedes {
    fill: #ff9f43;
}

.cls-1, .estadoscedes {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
}

.logo{
  fill: #fff;
}

.mipopover {
  --bs-popover-bg: #333;
  --bs-popover-border-color: #ff9f43;
  --bs-popover-header-bg: #ff9f43;
  --bs-popover-header-color: white;
  --bs-popover-body-color: #eee;
  --bs-popover-max-width: 250px;
 
}

.border-contact{
border-bottom: 2px solid #fff;
width: 50%;
padding: 2px;
margin-bottom: 10px;
}




@media(max-width:1200px) {
  .mapadiv{
    width: 80%;
    margin: auto;
}
}

@media(max-width:768px) {
  .mapadiv{
    width: 100%;
    margin: auto;
}
}

@media(max-width:640px) {
  .mapadiv{
    width: 100%;
    margin: auto;
}
}